<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Detalji ulaznice</title>
</head>
<body>
    <div class="container">
        <% if (errorMessage) {%>
            <div class="errorMessage" %>
                <p><%= errorMessage %></p>
            </div>
        <% } else { %>    
            <h1>Ulaznica za: <%= firstName %> <%= lastName %></h1>
            <p>OIB: <%= vatin %></p>
            <p>Datum generiranja: <%= createdAt %></p>


            <% if (user) { %>
                <div class="user-info">
                    Trenutno prijavljen: <%= user.name %> | <a href="/logout">Odjava</a>
                </div>
            <% } %>
        <% } %>    
    </div> 
</body>